<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit event</h4>
                        <!-- <p class="card-category">Complete your profile</p> -->
                    </div>
                    <div class="card-body">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">

                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field  appearance="fill" class="example-full-width">
                                    <mat-label>Title </mat-label>

                                      <input matInput formControlName="title" type="text" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                                        <div *ngIf="f.title.errors.required">Title is required</div>
                                      </div>
                                    </mat-form-field>
                                </div>
                                
                               
                                <div class="col-md-6">
                                    <mat-form-field  appearance="fill" class="example-full-width">
                                        <mat-label>Zoom Link </mat-label>
                                      <input matInput formControlName="zoomLink" type="text" [ngClass]="{ 'is-invalid': submitted && f.zoomLink.errors }">
                                      <div *ngIf="submitted && f.zoomLink.errors" class="invalid-feedback">
                                        <div *ngIf="f.zoomLink.errors.required">Zoom link is required</div>
                                    </div>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                              
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" class="example-form-field">
                                        <mat-label>Choose a start date</mat-label>
                                        <input  matInput [matDatepicker]="datepicker1"
                                        (dateChange)="onValueChange($event)"
                                       
                                        [min]="minStartDate"                                          
                                        formControlName="startDate"
                                        [ngClass]="{ 'is-invalid': submitted && f.startDate.errors }" >
                                        
                                        <mat-datepicker-toggle  matSuffix [for]="datepicker1"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker1>
                                        </mat-datepicker>
                                        </mat-form-field>                              
                                      
                                        <div *ngIf="submitted && f.startDate.errors" class="invalid-feedback">
                                            <div *ngIf="f.startDate.errors.required">Start date is required</div>
                                          </div>
                                       
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill" class="example-form-field">
                                        <mat-label>Choose a end date</mat-label>
                                        <input matInput [matDatepicker]="datepicker" 
                                        
                                         [min]="minEndDate" formControlName="endDate" [ngClass]="{ 'is-invalid': submitted && f.endDate.errors }" >
                                        <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                        <mat-datepicker #datepicker>
                                            
                                        </mat-datepicker>
                                      </mat-form-field>                              
                                           <div *ngIf="submitted && f.endDate.errors" class="invalid-feedback">
                                               <div *ngIf="f.endDate.errors.required">End date is required</div>
                                           </div>
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                        <mat-form-field appearance="fill">
                                            <mat-label>Start Time</mat-label>
                                            <!-- The timepicker input -->
                                            <input matTimepicker #t="matTimepicker" 
                                            (timeChange)="onStarTimeChange($event)"
                                              [strict]="false" id="timepicker-example" mode="12h" formControlName="startTime"
                                              placeholder="Please select time..."   >
                                          </mat-form-field>
                                          <div *ngIf="submitted && f.startTime.errors" class="invalid-feedback">
                                            <div *ngIf="f.startTime.errors.required">Start time is required</div>
                                          </div>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>End Time</mat-label>                                        
                                        <input matTimepicker #t="matTimepicker" 
                                        (timeChange)="onEndTimeChange($event)"
                                          [strict]="false" id="timepicker-example" mode="12h" formControlName="endTime"
                                          placeholder="Please select time..." >
                                      </mat-form-field>
                            </div>
                            </div>
                         
                           
                            <div class="row">
                            
                                <div class="col-md-6">
                                    <mat-form-field  appearance="fill" class="example-full-width">
                                      <mat-label>Zoom Id </mat-label>
                                      <input matInput type="text" formControlName="zoomId"  [ngClass]="{ 'is-invalid': submitted && f.zoomId.errors }" >
                                      <div *ngIf="submitted && f.zoomId.errors" class="invalid-feedback">
                                          <div *ngIf="f.zoomId.errors.required">Zoom Id is required</div>
                                      </div>
                            
                                    </mat-form-field>
                                  </div>
                            <div class="col-md-6">
                           

                                <mat-form-field appearance="fill">
                                    <mat-label>Select Category</mat-label>
                                    <select matNativeControl appearance="fill" formControlName="category_id"
                                    [ngClass]="{ 'is-invalid': submitted && f.category_id.errors }">
                                <option *ngFor="let cat of eventsCategoriesData" 
                           
                                value="{{cat._id}}">{{cat.name}}</option>
                                 
                                    </select>
                                  </mat-form-field>
                              </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
      
                              <angular-editor formControlName="overview" [config]="editorConfig"  class="my-large-area"></angular-editor>
                                
                              <div *ngIf="submitted && f.overview.errors" class="invalid-feedback">
                                  <div *ngIf="f.overview.errors.required">Overview is required</div>
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12 mb-4">
                            <div class="video_upload">
                                <div class="video_section">
                                   <!-- <div class="live_img height_104" *ngIf="!data.image">
                                        <img src="../../../../assets/images/index.png" />
                                    </div>
                                     <div class="live_img height_104" *ngIf="data.image">
                                        <img src="{{data.image}}" />
                                    </div> -->
                                </div>
    
                                <div class="video_text">
                                    <p>Upload new thumbnail image <span><i title="Image associated with event" class="fa fa-info-circle" aria-hidden="true"></i></span></p>
                                    <!-- <p><span>Recommended Image Size 200x200</span></p> -->
                                    <input type="file" class="form-control" accept="image/*" formControlName="image"
                                           (change)="uploadEventImage($event)">
                                </div>
                                <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                                  <div *ngIf="f.image.errors.required">Image is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-4">
                        <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:150px">
                        </div>
                    </div>

                    <div *ngIf="currentFile" class="progress my-3">
                      <div
                        class="progress-bar progress-bar-info progress-bar-striped"
                        role="progressbar"
                        attr.aria-valuenow="{{ progress }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [ngStyle]="{ width: progress + '%' }"
                      >
                        {{ progress }}%
                      </div>
                    </div>
                    
                    <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
                    
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update event</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
  