
    <!-- page-title -->
    <div class="ttm-page-title-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12"> 
                    <div class="title-box ttm-textcolor-white">
                        <div class="page-title-heading">
                            <h1 class="title">Sponsorship</h1>
                        </div><!-- /.page-title-captions -->
                        <div class="breadcrumb-wrapper">
                            <div class="container">
                                <div class="breadcrumb-wrapper-inner">
                                    <span>
                                        <a title="Go to Delmont." routerLink="/home" class="home"><i class="themifyicon ti-home"></i>&nbsp;&nbsp;Home</a>
                                    </span>
                                    <span class="ttm-bread-sep"></span>
                                   
                                    <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                    <span>Sponsorship</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-md-12 -->  
            </div><!-- /.row -->  
        </div><!-- /.container -->                      
    </div><!-- page-title end-->


<!--site-main start-->
<div class="site-main">

     <section class="ttm-row pb-50 clearfix">
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- ttm-pf-single-content-wrapper-innerbox -->
                    <div class="ttm-pf-single-content-wrapper-innerbox ttm-pf-view-top-image">
                        <div class="ttm-pf-detail-box">
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ttm-pf-single-content-area mt-0">
                                        <div class="ttm-portfolio-description">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <h4>About Our Sponsorship</h4>
                                                    <div class="sep_holder_box width-100 mb-20">
                                                        <span class="sep_holder"><span class="sep_line"></span></span>
                                                        <span class="sep_holder"><span class="sep_line"></span></span>
                                                    </div>
                                                    <p>Sponsor a group session, a seminar or a course. Sponsorship tiers are: </p>
                                                    
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="featuredbox-number">
                                                                <!--featured-icon-box-->
                                                                <div class="featured-icon-box left-icon icon-align-top">
                                                                    <div class="featured-icon">
                                                                        <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-rounded"> 
                                                                            <i class="ttm-num ti-info"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="featured-content">
                                                                        <div class="featured-title">
                                                                            <h5>Platinum </h5>
                                                                            <p>1. Naming rights for the event and inclusion of logo on all event materials <br> 2. 25′ company banner at event <br> 3. Opportunity for sponsor to speak at event</p>
                                                                        </div>
                                                                       
                                                                    </div>
                                                                </div><!--featured-icon-box end-->
                                                                <!--featured-icon-box-->
                                                                <div class="featured-icon-box left-icon icon-align-top">
                                                                    <div class="featured-icon">
                                                                        <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-rounded"> 
                                                                            <i class="ttm-num ti-info"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="featured-content">
                                                                        <div class="featured-title">
                                                                            <h5>Gold</h5>
                                                                            <p>1. 25′ company banner at event <br> 2. Opportunity for sponsor to speak at event</p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div><!--featured-icon-box end-->
                                                                <!--featured-icon-box-->
                                                                <div class="featured-icon-box left-icon icon-align-top">
                                                                    <div class="featured-icon">
                                                                        <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-rounded"> 
                                                                            <i class="ttm-num ti-info"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="featured-content">
                                                                        <div class="featured-title">
                                                                            <h5>Silver</h5>
                                                                            <p>1. Opportunity for sponsor to speak at event</p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div><!--featured-icon-box end-->
                                                            </div>
                                                        </div>
                                                    </div>
                                               
                                                  
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="ttm-pf-single-content-area">
                                        <div class="ttm-portfolio-description">
                                            
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4>Level of Sponsorship</h4>
                                                    <div class="sep_holder_box width-100 mb-20">
                                                        <span class="sep_holder"><span class="sep_line"></span></span>
                                                        <span class="sep_holder"><span class="sep_line"></span></span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="featuredbox-number mb-40">
                                                                <!--featured-icon-box-->
                                                                <div class="featured-icon-box left-icon icon-align-top">
                                                                    <div class="featured-icon">
                                                                        <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-rounded"> 
                                                                            <i class="ttm-num ti-info"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="featured-content">
                                                                        <div class="featured-title">
                                                                            <h5>Sponsor a group session</h5>
                                                                        </div>
                                                                       
                                                                    </div>
                                                                </div><!--featured-icon-box end-->
                                                                <!--featured-icon-box-->
                                                                <div class="featured-icon-box left-icon icon-align-top">
                                                                    <div class="featured-icon">
                                                                        <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-rounded"> 
                                                                            <i class="ttm-num ti-info"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="featured-content">
                                                                        <div class="featured-title">
                                                                            <h5>Sponsor a seminar</h5>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div><!--featured-icon-box end-->
                                                                <!--featured-icon-box-->
                                                                <div class="featured-icon-box left-icon icon-align-top">
                                                                    <div class="featured-icon">
                                                                        <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-sm ttm-icon_element-style-rounded"> 
                                                                            <i class="ttm-num ti-info"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="featured-content">
                                                                        <div class="featured-title">
                                                                            <h5>Sponsor a course</h5>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                </div><!--featured-icon-box end-->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-40 mt-20">
                                                <div class="col-sm-12">
                                                    <h4>How to sponsor</h4>
                                                    <div class="sep_holder_box width-100 mb-20">
                                                        <span class="sep_holder"><span class="sep_line"></span></span>
                                                        <span class="sep_holder"><span class="sep_line"></span></span>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <p>

                                                            Complete the sponsorship form below and our representative will respond to your submission within 48hours.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="pb-10">
                                                        <div class="alert alert-success" role="alert" *ngIf="success">
                                                            {{successMessage}}
                                                          </div>
                                                          <div class="alert alert-danger" role="alert" *ngIf="error">
                                                            {{errorMessage}}
                                                          </div>
                                                        <h4>Complete the form below for Sponsorship:</h4>

                                                        <div class="sep_holder_box width-100 mb-20">
                                                            <span class="sep_holder"><span class="sep_line"></span></span>
                                                            <span class="sep_holder"><span class="sep_line"></span></span>
                                                        
                                                    </div>
                                                    </div>
                                                    <form class="wrap-form clearfix" [formGroup]="form" (ngSubmit)="onSubmit()">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>
                                                                    <span class="text-input">
                                                                        <input type="text" formControlName="companyName"  placeholder="Company Name*" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
                                                                        <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                                                                            <div *ngIf="f.companyName.errors.required">Company Name is required</div>
                                                                        </div> 
                                                                    </span>

                                                                </label>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>
                                                                    <span class="text-input">
                                                                        <input type="text" formControlName="companyContactName"  placeholder="Company Contact Name*" [ngClass]="{ 'is-invalid': submitted && f.companyContactName.errors }">
                                                                        <div *ngIf="submitted && f.companyContactName.errors" class="invalid-feedback">
                                                                            <div *ngIf="f.companyContactName.errors.required">Company Contact Name is required</div>
                                                                        </div> 
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>
                                                                    <span class="text-input">
                                                                        
                                                                        <input type="text" formControlName="companyPhoneNumber"  placeholder="Company Phone No.*" [ngClass]="{ 'is-invalid': submitted && f.companyPhoneNumber.errors }">
                                                                        <div *ngIf="submitted && f.companyPhoneNumber.errors" class="invalid-feedback">
                                                                            <div *ngIf="f.companyPhoneNumber.errors.required">Company Phone No. is required</div>
                                                                        </div> 
                                                                    </span>
                                                                </label>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <label>
                                                                    <span class="text-input">
                                                                                                   
                                                                        <input type="email" formControlName="email"  placeholder="Email Id" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                                            <div *ngIf="f.email.errors.required">Email Id is required</div>
                                                                        </div> 

                                                                    </span>
                                                                </label>
                                                            </div>

                                                            
                                                        </div>

                                                        <div class="row">

                                                            <div class="col-sm-6">
                                                                <label>
                                                                    <span class="text-input">                                                                        
                                                                        <input type="text" formControlName="companyWebsite"  placeholder="company Website*" [ngClass]="{ 'is-invalid': submitted && f.companyWebsite.errors }">
                                                                        <div *ngIf="submitted && f.companyWebsite.errors" class="invalid-feedback">
                                                                            <div *ngIf="f.companyWebsite.errors.required">Company Website is required</div>
                                                                        </div> 
                                                                    </span>
                                                                </label>
                                                            </div>

                                                            <div class="col-sm-6 search_field selectbox">
                                                                <label>
                                                                    <span class="text-input">
                                                                        <select style="height:45px;" formControlName="levelOfSponsership" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true" [ngClass]="{ 'is-invalid': submitted && f.companyWebsite.errors }">
                                                                            <option value="" class="select-empty">Level of Sponsorship</option>
                                                                            <option value="dental">Sponsor a group session</option>
                                                                            <option value="dermatologist">Sponsor a seminar</option>
                                                                            <option value="health-care">Sponsor a course</option>
                                                                        </select>
                                                                        <div *ngIf="submitted && f.levelOfSponsership.errors" class="invalid-feedback">
                                                                            <div *ngIf="f.levelOfSponsership.errors.required">level Of Sponsership is required</div>
                                                                        </div> 
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>
                                                                    <span class="text-input">                                                                        
                                                                        <input type="text" formControlName="companyAddress1"  placeholder="Company Address Line 1*" [ngClass]="{ 'is-invalid': submitted && f.companyAddress1.errors }">
                                                                        <div *ngIf="submitted && f.companyAddress1.errors" class="invalid-feedback">
                                                                            <div *ngIf="f.companyAddress1.errors.required">Company Address1 is required</div>
                                                                        </div>
                                                                    </span>
                                                                </label>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <label>
                                                                    <span class="text-input">
                                                                        <input type="text" formControlName="companyAddress2"  placeholder="Company Address Line 2*" [ngClass]="{ 'is-invalid': submitted && f.companyAddress2.errors }">
                                                                        <div *ngIf="submitted && f.companyAddress2.errors" class="invalid-feedback">
                                                                            <div *ngIf="f.companyAddress2.errors.required">Company Address2 is required</div>
                                                                        </div>   
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label>
                                                                    <span class="text-input">
                                                                        <textarea cols="40" rows="3"  formControlName="comment"  placeholder="Comment*" [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"></textarea>
                                                                        
                                                                        <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
                                                                            <div *ngIf="f.comment.errors.required">Comment is required</div>
                                                                        </div>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <input name="submit" type="submit" id="submit" class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-bgcolor-skincolor mt-10" value="SEND MESSAGE"/>
                                                    </form>
                                                </div>
                                            </div>
                                            
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        

                    </div><!-- ttm-pf-single-content-wrapper-innerbox end-->
                    <!-- tttm-pf-single-related-wrapper -->
              
                    <!-- tttm-pf-single-related-wrapper end-->
                </div>
            </div>
        </div>
    </section>

</div><!--site-main end-->