<div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container slide-overlay" data-alias="classic4export" data-source="gallery">

    <!-- START REVOLUTION SLIDER 5.4.8 auto mode -->
    <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" data-version="5.4.8.1">
        <ul>
      
            <li data-index="rs-24" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="./assets/images/slides/banner.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <img src="./assets/images/slides/banner.jpg" alt="" title="coronavirus-banner-01" width="1920" height="725" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                
            
            </li>
            <li data-index="rs-25" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="./assets/images/slides/banner1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <img src="./assets/images/slides/banner1.jpg" alt="" title="coronavirus-banner-02" width="1920" height="725" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                
            
            </li>
            <li data-index="rs-26" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="./assets/images/slides/slider-mainbg-007.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                <img src="./assets/images/slides/slider-mainbg-007.jpg" alt="" title="coronavirus-banner-03" width="1920" height="725" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                
            
            </li>
        </ul>
    </div>
</div>
<!-- END REVOLUTION SLIDER -->

<!--site-main start-->
<div class="site-main">

    <!--quote_fea-section-->
    <section class="ttm-row quote_fea-section ttm-bgcolor-skincolor bg-img7 ttm-bg ttm-bgimage-yes clearfix">
        <div class="ttm-row-wrapper-bg-layer ttm-bg-layer"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="mt_70 res-991-mt-0">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box style3 iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                                <i class="ti-heart-broken"></i>
                                            </div>
                                        </div>
                                        <div class="featured-title">
                                            <h5>Mission</h5>
                                        </div>
                                    </div>
                                    <div class="featured-desc">
                                        <p>To be a premier leader in healthcare networking and professional development.</p>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box style3 iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                                <i class="ti-heart-broken"></i>
                                            </div>
                                        </div>
                                        <div class="featured-title">
                                            <h5>Goal</h5>
                                        </div>
                                    </div>
                                    <div class="featured-desc">
                                        <p>To impact lives and support healthcare. <br>&nbsp;</p>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-12">
                                <!-- featured-icon-box -->
                                <div class="featured-icon-box style3 iconalign-before-heading">
                                    <div class="featured-content">
                                        <div class="featured-icon">
                                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-lg"> 
                                                <i class="ti-eye"></i>
                                            </div>
                                        </div>
                                        <div class="featured-title">
                                            <h5>Vision</h5>
                                        </div>
                                    </div>
                                    <div class="featured-desc">
                                        <p>Advancing a future of opportunity, inclusion, well-being & resilience.</p>
                                    </div>
                                </div><!-- featured-icon-box end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- row end -->
            
        </div>
    </section>
    <!-- quote_fea-section end -->


    <!--introduction-section-->
    <section class="ttm-row introduction-section clearfix">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 col-xs-12">
                    <div class="pl-30 res-991-pl-0 res-991-pt-30">
                       
                        
                        <div class="mb-30 clearfix">
                            <p>You are a valued healthcare professional! You sometimes deny your emotional, professional, and personal needs, that is why we are here to support your professional health and well-being.</p>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                               
                                <div class="featured-icon-box left-icon icon-box-heading-only icon-align-top style6" style="margin-bottom:0;">
                                    <div class="featured-icon">
                                        <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md" style="width:26px;height:26px;"> 
                                            <i style="font-size: 26px;" class="flaticon flaticon-dentist-2"></i>
                                        </div>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Professional development support</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="col-md-12 col-sm-12">
                               
                                <div class="featured-icon-box left-icon icon-box-heading-only icon-align-top style6" style="margin-bottom:0;">
                                    <div class="featured-icon ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md" style="width:26px;height:26px;"> 
                                        <i style="font-size: 26px;" class="flaticon flaticon-care"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Professional mentoring and networking</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                                
                                <div class="featured-icon-box left-icon icon-box-heading-only icon-align-top style6" style="margin-bottom:0;">
                                    <div class="featured-icon ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md" style="width:26px;height:26px;"> 
                                        <i style="font-size: 26px;" class="flaticon flaticon-dentist-2"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Specialty certification training & review</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12">
                              
                                <div class="featured-icon-box left-icon icon-box-heading-only icon-align-top style6" style="margin-bottom:0;">
                                    <div class="featured-icon ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md" style="width:26px;height:26px;"> 
                                        <i style="font-size: 26px;" class="flaticon flaticon-care"></i>
                                    </div>
                                    <div class="featured-content">
                                        <div class="featured-title">
                                            <h5>Well-being conversations and webinars</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</div><!--site-main end-->