
        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title">Events Page</h1>
                                <h3 class="subtitle"></h3>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <div class="container">
                                    <div class="breadcrumb-wrapper-inner">
                                        <span>
                                            <a title="Go to Delmont."  routerLink="/home" class="home"><i class="themifyicon ti-home"></i>&nbsp;&nbsp;Home</a>
                                        </span>
                                        <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                        <span>Events Page</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main">

        <!-- element-style-section -->
        <section class="element-row element-style pt-60 res-991-pt-30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xs-12">
                        <!-- acadion -->
                        <div class="accordion mt-25 mb-25">
                            <!-- toggle -->
                            <div class="toggle ttm-style-classic ttm-toggle-title-border">
                                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" ><i class="fa fa-cog"></i>Monthly Education Presentation</a></div>
                                <div class="toggle-content">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="toggle-figure pr-10">
                                                <img class="img-fluid" src="./assets/images/portfolio/post-one-1200x800.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="ml_20 res-767-ml-0">
                                                <h5> <a href="#">Stepping Beyond the Status Quo in Heart Failure: The Revolutionary Role of SGLT2 Inhibition</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            
                            <!-- toggle -->
                            <div class="toggle ttm-style-classic ttm-toggle-title-border mb-50">
                                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" ><i class="fa fa-cog"></i>Courses</a></div>
                                <div class="toggle-content ">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="toggle-figure pr-10">
                                                <img class="img-fluid" src="./assets/images/portfolio/post-one-1200x800.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="ml_20 res-767-ml-0">
                                                <h5><a href="#">Stepping Beyond the Status Quo in Heart Failure: The Revolutionary Role of SGLT2 Inhibition</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->

                            
                        </div><!-- acadion end-->
                    </div>

                    <div class="col-lg-6 col-xs-12">
                        <!-- ttm-progress-bar -->
                        <div class="accordion mt-25 mb-25">
                            <div class="toggle ttm-style-classic ttm-toggle-title-border ">
                                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" ><i class="fa fa-cog"></i>Biannual Series</a></div>
                                <div class="toggle-content">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="toggle-figure pr-10">
                                                <img class="img-fluid" src="./assets/images/portfolio/post-one-1200x800.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="ml_20 res-767-ml-0">
                                                <h5> <a href="#">Navigating The Treatment of Schizophrenia Using LAIs In The Time of COVID-19</a></h5>
                                              
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->

                            <div class="toggle ttm-style-classic ttm-toggle-title-border mb-50">
                                <div class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" ><i class="fa fa-cog"></i>Transcripts</a></div>
                                <div class="toggle-content">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="toggle-figure pr-10">
                                                <img class="img-fluid" src="./assets/images/portfolio/post-one-1200x800.jpg" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="ml_20 res-767-ml-0">
                                                <h5><a href="#">Navigating The Treatment of Schizophrenia Using LAIs In The Time of COVID-19</a></h5>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->  
                    </div>

                    </div><!-- section title end -->
                </div>
            </div>
        
    </section>
    <!-- element-style-section end-->


    </div><!--site-main end-->