
        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title">Events Page</h1>
                                <h3 class="subtitle"></h3>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <div class="container">
                                    <div class="breadcrumb-wrapper-inner">
                                        <span>
                                            <a title="Go to Delmont."  routerLink="/home" class="home"><i class="themifyicon ti-home"></i>&nbsp;&nbsp;Home</a>
                                        </span>
                                        <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                        <span>Events Page</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main">

        <!-- element-style-section -->
        <section class="element-row element-style pt-60 res-991-pt-30">
            <div class="container">
                <div class="row" *ngIf="eventsCatData.length>0">
                    <div class="col-lg-6 col-xs-12">
                        <!-- acadion -->
                        <div class="accordion mt-25 mb-25">
                            <!-- toggle -->
                            <div class="toggle ttm-style-classic ttm-toggle-title-border" >
                                <div  class="toggle-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" ><i class="fa fa-cog"></i>{{eventsCatData[0].name}}</a></div>
                                <div class="toggle-content">
                                    <div class="row" *ngIf="eventsCatData[0].events.length==0">
                                        <h5>No records found</h5>
                                    </div>
                                    <div class="row"  *ngFor="let event of eventsCatData[0].events" >
                                        <div class="col-md-5">
                                            <div class="toggle-figure pr-10">
                                                <img class="img-fluid" src="{{baseUrl}}{{event.image}}" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="ml_20 res-767-ml-0">
                                                <h5> <a (click)="getEventDetail(event._id)" >{{event.title}}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            
                            <!-- toggle -->
                          
                        </div><!-- acadion end-->
                    </div>       
                    
                    <div class="col-lg-6 col-xs-12">
                        <!-- acadion -->
                        <div class="accordion mt-25 mb-25">
                            <!-- toggle -->
                            <div class="toggle ttm-style-classic ttm-toggle-title-border" >
                                <div  class="toggle-title" ><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" ><i class="fa fa-cog"></i>{{eventsCatData[1].name}}</a></div>
                                <div class="toggle-content">
                                    <div class="row" *ngIf="eventsCatData[1].events.length==0">
                                        <h5>No records found</h5>
                                    </div>
                                    <div class="row clearfix"  *ngFor="let event of eventsCatData[1].events" >
                                        <div class="col-md-5">
                                            <div class="toggle-figure pr-10">
                                                <img class="img-fluid" src="{{baseUrl}}{{event.image}}" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="ml_20 res-767-ml-0">
                                                <h5> <a (click)="getEventDetail(event._id)" >{{event.title}}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            
                            <!-- toggle -->
                          
                        </div><!-- acadion end-->
                    </div>   
                </div>

                <div class="row" *ngIf="eventsCatData.length>0">
                    <div class="col-lg-6 col-xs-12">
                        <!-- acadion -->
                        <div class="accordion mt-25 mb-25">
                            <!-- toggle -->
                            <div class="toggle ttm-style-classic ttm-toggle-title-border" >
                                <div  class="toggle-title" ><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" ><i class="fa fa-cog"></i>{{eventsCatData[2].name}}</a></div>
                                <div class="toggle-content">
                                    <div class="row" *ngIf="eventsCatData[2].events.length==0">
                                        <h5>No records found</h5>
                                    </div>
                                    <div class="row"  *ngFor="let event of eventsCatData[2].events" >
                                        <div class="col-md-5">
                                            <div class="toggle-figure pr-10">
                                                <img class="img-fluid" src="{{baseUrl}}{{event.image}}" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="ml_20 res-767-ml-0">
                                                <h5> <a (click)="getEventDetail(event._id)" >{{event.title}}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            
                            <!-- toggle -->
                          
                        </div><!-- acadion end-->
                    </div>      
                    
                    <div class="col-lg-6 col-xs-12">
                        <!-- acadion -->
                        <div class="accordion mt-25 mb-25">
                            <!-- toggle -->
                            <div class="toggle ttm-style-classic ttm-toggle-title-border" >
                                <div  class="toggle-title" ><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" ><i class="fa fa-cog"></i>{{eventsCatData[3].name}}</a></div>
                                <div class="toggle-content">
                                    <div class="row" *ngIf="eventsCatData[3].events.length==0">
                                        <h5>No records found</h5>
                                    </div>
                                    <div class="row"  *ngFor="let event of eventsCatData[3].events" >
                                        <div class="col-md-5">
                                            <div class="toggle-figure pr-10">
                                                <img class="img-fluid" src="{{baseUrl}}{{event.image}}" alt="image">
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="ml_20 res-767-ml-0">
                                                <h5> <a (click)="getEventDetail(event._id)" >{{event.title}}</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- toggle end -->
                            <!-- toggle -->
                            
                            <!-- toggle -->
                          
                        </div><!-- acadion end-->
                    </div>  

                </div>

            </div>
        
    </section>
    <!-- element-style-section end-->


    </div><!--site-main end-->