
        <!--header start-->
        <header id="masthead" class="header ttm-header-style-classicinfo">
            <!-- ttm-fbar-main-w -->
            
            <!-- ttm-topbar-wrapper -->
            <div class="ttm-topbar-wrapper ttm-bgcolor-darkgrey ttm-textcolor-white clearfix">
                <div class="container">
                    <div class="ttm-topbar-content">
                        <ul class="top-contact text-left">
                            <li><i class="themifyicon ti-mobile"></i>+281-884-3515</li>
                            <li><i class="themifyicon ti-email"></i>info@oradfoundation.com</li>
                            
                        </ul>
                        <div class="topbar-right text-right">
                           
                            <!-- <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" routerLink="login" >Log In</a>

                            <a class="ttm-btn ttm-btn-size-md ttm-btn-shape-square ttm-btn-style-fill ttm-btn-color-skincolor" routerLink="register">Register</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- ttm-topbar-wrapper end -->
            <!-- ttm-header-wrap -->
            <div class="ttm-header-wrap">
                <!-- ttm-stickable-header-w -->
                <div id="ttm-stickable-header-w" class="ttm-stickable-header-w ttm-bgcolor-white clearfix">
                    <div id="site-header-menu" class="site-header-menu">
                        <div class="site-header-menu-inner ttm-stickable-header">
                            <div class="container">
                                <!-- site-branding -->
                                <div class="site-branding">
                                    <a class="home-link" routerLink="home" title="Delmont" rel="home">
                                        <!-- <img id="logo-img" class="img-center" src="./assets/images/logo.png" alt="logo-img"> -->
                                        <h3>Logo</h3>
                                    </a>
                                </div><!-- site-branding end -->
                                <!--site-navigation -->
                                <div id="site-navigation" class="site-navigation">
                                    <!-- header-icons -->
                                    
                                    <div class="ttm-menu-toggle">
                                        <input type="checkbox" id="menu-toggle-form" />
                                        <label for="menu-toggle-form" class="ttm-menu-toggle-block">
                                            <span class="toggle-block toggle-blocks-1"></span>
                                            <span class="toggle-block toggle-blocks-2"></span>
                                            <span class="toggle-block toggle-blocks-3"></span>
                                        </label>
                                    </div>
                                    <nav id="menu" class="menu">
                                        <ul class="dropdown">
                                           <li class="active"><a routerLink="home">Home</a></li>
                                            <li><a routerLink="events">Events</a></li>
                                            <li><a routerLink="sponsorship">Sponsorship</a></li>
                                            <li><a routerLink="become-an-insider">Become an insider</a></li>
                                            <li><a class="pr-0" target="_blank" href="https://www.paypal.com/paypalme/ORADHealthServices">Donate</a></li>
                                        </ul>
                                    </nav>
                                </div><!-- site-navigation end-->
                            </div>
                        </div>
                    </div>
                </div><!-- ttm-stickable-header-w end-->
            </div><!--ttm-header-wrap end -->
          
        </header><!--header end-->
        