
        <!-- page-title -->
        <div class="ttm-page-title-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12"> 
                        <div class="title-box ttm-textcolor-white">
                            <div class="page-title-heading">
                                <h1 class="title">Events Detail Page</h1>
                            </div><!-- /.page-title-captions -->
                            <div class="breadcrumb-wrapper">
                                <div class="container">
                                    <div class="breadcrumb-wrapper-inner">
                                        <span>
                                            <a title="Go to Delmont." routerLink="/home" class="home"><i class="themifyicon ti-home"></i>&nbsp;&nbsp;Home</a>
                                        </span>
                                        <span class="ttm-bread-sep">&nbsp; | &nbsp;</span>
                                        <span>Events Detail Page</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.col-md-12 -->  
                </div><!-- /.row -->  
            </div><!-- /.container -->                      
        </div><!-- page-title end-->


    <!--site-main start-->
    <div class="site-main">

         <section class="ttm-row pb-50 clearfix">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title clearfix">
                            <h2 class="title">{{data.title}}</h2>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <!-- ttm-pf-single-content-wrapper-innerbox -->
                        <div class="ttm-pf-single-content-wrapper-innerbox ttm-pf-view-left-image">
                            <div class="ttm-pf-detail-box">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="ttm-featured-wrapper ttm-portfolio-featured-wrapper">
                                            <img class="img-fluid" src="{{imageSrc}}" alt="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="ttm-pf-single-detail-box res-991-mt-30">
                                            <div class="ttm-pf-detailbox">
                                                <ul class="ttm-pf-detailbox-list">
                                                    <!-- <li class="ttm-pf-details-date">
                                                        <span class="ttm-pf-left-details"><i class="fa fa-medkit"></i>Available credit:</span>
                                                        <span class="ttm-pf-right-details"><b>0.50</b> ANCC <br><b>0.50</b> AANP Contact Hours <br><b>0.50</b> AMA PRA Category 1 Credit™ <br> <b>0.50</b> Participation  </span>
                                                    </li>
                                                    <li class="ttm-pf-details-date">
                                                        <span class="ttm-pf-left-details"><i class="fa fa-user"></i> Course opens: </span>
                                                        <span class="ttm-pf-right-details">08/06/2021</span>
                                                    </li>
                                                    <li class="ttm-pf-details-date">
                                                        <span class="ttm-pf-left-details"><i class="fa fa-user-md"></i>Course expires: </span>
                                                        <span class="ttm-pf-right-details">08/06/2022</span>
                                                    </li> -->
                                                    <li class="ttm-pf-details-date">
                                                        <span class="ttm-pf-left-details"><i class="fa fa-calendar"></i>Event starts: </span>
                                                        <span class="ttm-pf-right-details">{{ moment.unix(data.startDate).format("DD/MM/yyyy")}}-{{ moment.unix(data.startTime).format("hh:mm a")}}</span>
                                                    </li>
                                                    <li class="ttm-pf-details-date">
                                                        <span class="ttm-pf-left-details"><i class="fa fa-calendar"></i>Event ends: </span>
                                                        <span class="ttm-pf-right-details">{{ moment.unix(data.endDate).format("DD/MM/yyyy")}}  {{ moment.unix(data.endTime).format("hh:mm a")}}</span>
                                                    </li>
                                                    <li class="ttm-pf-details-date">
                                                        <span class="ttm-pf-left-details"><i class="fa fa-star"></i>Ratings </span>
                                                        <span class="ttm-pf-right-details star-ratings">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                                <li><i class="fa fa-star"></i></li>
                                                            </ul>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="ttm-tabs ttm-tab-style-horizontal clearfix mt-40">
                                <!-- tabs -->
                                <ul class="tabs clearfix change-tab">
                                    <li class="tab active"><a href="javascript:void(0)"><i class="fa fa-cog"></i>Overview</a></li>
                                    <li class="tab"><a href="javascript:void(0)"><i class="fa fa-binoculars"></i>Venue</a></li>
                                    <li class="tab"><a href="javascript:void(0)"><i class="fa fa-tasks"></i>Register/Take Course</a></li>
                                </ul>

                                <div class="content-tab">
                                    <div class="content-inner">
                                        <div class="ttm-pf-single-content-area">
                                            <div class="ttm-portfolio-description">
                                                <div class="row">
                                                    <div class="col-lg-12" >
                                                        <h4>Overview</h4>
                                                        <div class="sep_holder_box width-100 mb-20" >
                                                            <span class="sep_holder"><span class="sep_line"></span></span>
                                                            <span class="sep_holder"><span class="sep_line"></span></span>
                                                        </div>
                                                       
                                                        <div [innerHTML]="overview"></div>
                                                       
                                                        
                                                    </div>
                                                </div>
                                                <!-- row -->
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="pt-30">
                                                            <h4>TARGET AUDIENCE</h4>
                                                            <div class="sep_holder_box width-100 mb-20">
                                                                <span class="sep_holder"><span class="sep_line"></span></span>
                                                                <span class="sep_holder"><span class="sep_line"></span></span>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <p>Physicians, pharmacists, nurse practitioners, and nurses treating patients with LAIs in the time of COVID-19.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- row end-->
                                                <!-- row -->
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="pt-30">
                                                            <h4>LEARNING OBJECTIVES</h4>
                                                            <div class="sep_holder_box width-100 mb-20">
                                                                <span class="sep_holder"><span class="sep_line"></span></span>
                                                                <span class="sep_holder"><span class="sep_line"></span></span>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-8">
                                                                    <ul class="ttm-list ttm-list-style-icon ttm-list-icon-color-skincolor">
                                                                        <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Discuss the role and function of the pharmacist in administering LAI medications, detailing when pharmacists can be optimized in the treatment of patients with schizophrenia during COVID-19.</span></li>
                                                                        <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Examine the expanded role pharmacists can play in administering LAI medications, beyond the public health emergency of COVID-19.</span></li>
                                                                        <li><i class="fa fa-arrow-circle-right"></i><span class="ttm-list-li-content">Using a case-based format, recognize opportunities for cardiologists to collaborate with endocrinologists, primary care providers, and other members of the healthcare team, and identify key characteristics of an integrated approach to HF management.</span></li>
                                                                    </ul>
                                                                </div>

                                                                <div class="col-sm-4">
                                                                    <img class="alignright img-fluid" src="./assets/images/single-img-nine-300x200.jpg" alt="">
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="content-inner">
                                        <div class="row">
                                           
                                            <div class="col-lg-12">
                                                <div class="featured-icon-box iconalign-before-heading mb-25">
                                                    <div class="featured-content">
                                                        <div class="featured-icon">
                                                            <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                                                <i class="fa fa-map-marker"></i>
                                                            </div>
                                                        </div>
                                                        <div class="featured-title">
                                                            <h5>Online Webinar</h5>
                                                            
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                             <div class="col-lg-12">
                                                <img class="w-100" src="./assets/images/webinar.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-inner">
                                        <div class="ttm-pf-single-content-area">
                                            <div class="ttm-portfolio-description">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="pt-30">
                                                            <h4>REQUIRED HARDWARE/SOFTWARE</h4>
                                                            <div class="sep_holder_box width-100 mb-20">
                                                                <span class="sep_holder"><span class="sep_line"></span></span>
                                                                <span class="sep_holder"><span class="sep_line"></span></span>
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-sm-12">
                                                                    <p>Ashley Lilly is inviting you to a scheduled Zoom meeting.</p>

                                                                    <p>Topic: Stepping Beyond Grand Rounds <br>Time:{{ moment.unix(data.startDate).format("DD/MM/yyyy")}}  {{ moment.unix(data.startTime).format("hh:mm a")}}</p>

                                                                    <p>Join Zoom Meeting: <br><a href="{{data.zoomLink}}" target="_blank">{{data.zoomLink}}</a></p>

                                                                    <p>Meeting ID: {{data.zoomId}} <br>Passcode: 630970 <br>One tap mobile <br>+13017158592,,94850094120# US (Germantown) <br>+13126266799,,94850094120# US (Chicago)</p>

                                                                    <p>Dial by your location <br>
                                                                    +1 301 715 8592 US (Germantown) <br>
                                                                    +1 312 626 6799 US (Chicago) <br>
                                                                    +1 646 558 8656 US (New York) <br>
                                                                    +1 253 215 8782 US (Tacoma) <br>
                                                                    +1 346 248 7799 US (Houston) <br>
                                                                    +1 669 900 9128 US (San Jose) <br>
                                                                    Meeting ID: 969 2023 7653 <br>
                                                                    Find your local number: https://zoom.us/u/abk7lQBK9r</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                          
                        </div><!-- ttm-pf-single-content-wrapper-innerbox end-->
                        <!-- tttm-pf-single-related-wrapper -->


                        <div class="row ttm-pf-single-related-wrapper ttm-boxes-row-wrapper">
                            <div class="col-lg-12">
                                <h3 class="ttm-pf-single-related-title">Related Events</h3>
                            </div>
                            <div class="ttm-box-col-wrapper col-lg-4 col-md-4 col-sm-6" *ngFor="let edata of relatedEvents">
                            <!-- featured-imagebox -->
                            <div class="featured-imagebox featured-imagebox-portfolio ttm-box-view-top-image">
                                <div class="ttm-box-view-content-inner">
                                    <!-- featured-thumbnail -->
                                    <div class="featured-thumbnail">
                                        <a href="javascript:void(0)"> <img class="img-fluid" src="{{baseUrl}}{{edata.image}}" alt="image"></a>
                                    </div><!-- featured-thumbnail end-->
                                    <!-- ttm-box-view-overlay -->
                                    <div class="ttm-box-view-overlay ttm-portfolio-box-view-overlay">
                                        <div class="featured-iconbox ttm-media-link">
                                            <a class="ttm_prettyphoto ttm_image" title="Blood Pressure Checkup" data-rel="prettyPhoto" href="{{baseUrl}}{{edata.image}}">
                                                <i class="ti ti-search"></i>
                                            </a>
                                        </div>
                                    </div><!-- ttm-box-view-overlay end-->
                                </div>
                                <div class="ttm-box-bottom-content featured-content-portfolio box-shadow">
                                    <div class="featured-title">
                                        <h5><a (click)="getEventDet(edata._id)" href="javascript:void(0)">{{edata.title}} <br> </a></h5>
                                    </div>
                                    <!-- <span class="category">
                                        <a href="portfolio-category.html">Cardiology</a>,
                                        <a href="portfolio-category.html">Oncology</a>
                                    </span> -->
                                </div>
                            </div><!-- featured-imagebox -->
                        </div>
                        
                        </div>
                        <!-- tttm-pf-single-related-wrapper end-->
                    </div>
                </div>
            </div>
        </section>



    </div><!--site-main end-->
