<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                        
                          <i class="material-icons">person</i>
                      </div>
                      <p class="card-category">User registered</p>
                      <h3 class="card-title">125
                          <!-- <small>GB</small> -->
                      </h3>
                  </div>
                  <div class="card-footer">
                    <div class="stats">
                        <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                    </div>
                </div>
              
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">contact_mail</i>
                      </div>
                      <p class="card-category">Total contacts</p>
                      <h3 class="card-title">4521</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">date_range</i> Last 24 Hours -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">event</i>
                      </div>
                      <p class="card-category">Total events</p>
                      <h3 class="card-title">75</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">local_offer</i> Tracked from Github -->
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">light</i>
                      </div>
                      <p class="card-category">Total Insider</p>
                      <h3 class="card-title">124</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <!-- <i class="material-icons">update</i> Just Updated -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
  </div>
</div>
