<div class="main-content">
  <div class="container-fluid">
      <div class="row">
         
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0">Users</h4>
                      <p class="card-category"> Listing of all registered users</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                      Firstname
                                  </th>
                                  <th>
                                      lastname
                                  </th>
                                  <th>
                                      Username
                                  </th>
                                  <th>
                                      Email
                                  </th>
                                  <th>
                                    Status
                                    </th>
                                  <th>
                                    Action
                                </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let udata of usersData">
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          {{udata.firstName}}
                                      </td>
                                      <td>
                                        {{udata.lastName}}
                                      </td>
                                      <td>
                                        {{udata.userName}}
                                      </td>
                                      <td>
                                        {{udata.email}}
                                      </td>
                                      <td>
                                        <span *ngIf="udata.isActive == true">Active</span>

                                        <span *ngIf="udata.isActive == false">Inactive</span>
                                      </td>
                                      <td>
                                      
                                        <a (click)="edit(udata._id)"> 
                                        <span class="material-icons">
                                        edit
                                        </span>
                                        </a>

                                    </td>
                                  </tr>
                              
                              
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
